@charset "UTF-8";
header, section, aside, article, footer, nav, figure, figcaption {
	display: block;
}

body {
	font-family: Arial, Verdana;
	width: 90%;
	box-shadow: 0px 0px 10px #777777;
	border-radius: 10px;
	padding: 10px;
	margin: 0 auto;
	font-size: 1em;
}

body li {
	font-family: Gergia, Times, serif;
	font-size: 1.1em;
	color: #7A7A7A
}

header, footer {
	border-width: 2px;
	background-color: #333;
	border-style: solid;
	box-shadow: 5px 5px 5px #777777;
	border-radius: 10px;
}

header {
	text-align: center;
	position: fixed;
	top: 10px;
	width: 90%;
}

body li {
	font-family: Gergia, Times, serif;
	font-size: 1.1em;
	color: #7A7A7A
}

header, footer {
	border-width: 2px;
	background-color: #333;
	border-style: solid;
	box-shadow: 5px 5px 5px #777777;
	border-radius: 10px;
}

header {
	text-align: center;
	position: fixed;
	top: 10px;
	width: 90%;
}

header a:hover, footer a:hover, a:hover {
	color: red;
	text-shadow: 1px 1px 0px #000000;
}

.favicon, .github {
	margin-top: 0.2em;
	width: 2em;
	height: 2em;
}

.favicon {
	float: left;
	margin-left: 10px;
}

.github {
	float: right;
	margin-right: 10px;
}

nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li a {
	display: block;
	color: white;
	padding: 0.5em 1em;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #111;
}

nav a.current {
	color: red;
}

h1, h3 {
	text-align: center;
	padding: 10px;
}

h1 {
	margin-top: 3em;
	letter-spacing: 0.1em;
}
